<form class='addblog card'>
    <div class="card-header">
        <header>
           Create New Post 
        </header>
    </div>
    <div class="card-body">
        <div>
            <p class="form-label">Title</p>
            <input class ="form-input-small" id="add-title" name="add-title"></input>
        </div>
        <div>
            <p class="form-label">Content</p>
            <textarea class ="form-input" id="addContent" name="addContent"></textarea>
        </div>
        <div>
            <button id="create" class="btn" type="submit">Create</button>
        </div>
        <div>
            <a href="/signup">Sign up instead</a>
        </div>
    </div>
    
</form>

<script src='/javascript/addBlog.js'></script>