<form class='login-form card'>
    <div class="card-header">
        <header>
           Login 
        </header>
    </div>
    <div class="card-body">
        <div>
            <label class ="form-label" for="username-login">Username:</label>
            <input class ="form-input-small" type="text" id="username-login"/>
        </div>
        <div>
            <label class ="from-label" for="password-login">Password:</label>
            <input class ="form-input-small" type="password" id="password-login"/>
        </div>
        <div>
            <button class="btn" type="submit">login</button>
        </div>
        <div>
            <a href="/signup" class="link">Sign up instead</a>
        </div>
    </div>
    
</form>

<script src="/javascript/login.js"></script>