<article class = "card">
    <div class ="card-header">
        <a>{{blog.title}}</a>
        Posted by {{blog.user.username}} on {{blog.created_at}}
    </div>
    <div class="card-body">
        <p>{{blog.blog_text}}</p>
    </div>
</article>